{# HEREDA DE LAYOUT #}
{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/custom/home.js') }}"></script>
{% endblock %}
{% block content %}

    <div class="container-fluid">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left box-default">
            <h1 class="box-header">Buy Credits</h1>
            {# HSKNDR:  UNDERCONSTRUCTION #}
            <div class="text-center">
                <img src="{{ asset('assets/image/under-construction.png') }}"class="img-responsive" alt="Responsive image">
            </div>
            {# HSKNDR:  UNDERCONSTRUCTION #}

            <main class="container-fluid ">
                <div class="row">
                    <article class="col-lg-8 col-md-8 col-sm-12 p-1 border-white">
                        <section class="sectionBlue text-left m-4">
                            <h2 class="text-center">Your Special Days Start Here</h2>
                            <br>
                            <p class="text-justify">We will always remind you when you get below 25 credits. Is always
                                good to have plenty
                                in hand.</p>
                        </section>

                        <h3 class=" text-left">We have 3 Plans</h3>
                        {# PLANS DESCRIPTIONS #}
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="thumbnail">
                                    <img src="{{ asset('assets/image/LF54.jpg') }}" class="img-responsive"
                                         alt="Responsive image">>
                                    <div class="caption">
                                        <h3>Plan A: 1200 Credits</h3>
                                        <p>
                                            <span> <strong>$ 216.00 </strong> </span>
                                            <span> For 1200 Coins</span>
                                        </p>
                                        <p>
                                            <span>$ 0.18</span><br>
                                            <span>Per Coin</span>
                                        </p>
                                        <p>
                                            <a href="#" class="btn btn-primary" role="button">Buy</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <div class="thumbnail">
                                    <img src="{{ asset('assets/image/LF54.jpg') }}" class="img-responsive"
                                         alt="Responsive image">>
                                    <div class="caption">
                                        <h3>Plan B: 500 Credits</h3>
                                        <p>
                                            <span> <strong>$ 125.00 </strong> </span>
                                            <span> For 500 Coins</span>
                                        </p>
                                        <p>
                                            <span>$ 0.25</span><br>
                                            <span>Per Coin</span>
                                        </p>
                                        <p>
                                            <a href="#" class="btn btn-primary" role="button">Buy</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <div class="thumbnail">
                                    <img src="{{ asset('assets/image/LF54.jpg') }}" class="img-responsive"
                                         alt="Responsive image">>
                                    <div class="caption">
                                        <h3>Plan C: 200 Credits</h3>
                                        <p>
                                            <span> <strong> $ 78.00 </strong> </span>
                                            <span> For 200 Coins</span>
                                        </p>
                                        <p>
                                            <span>$ 0.39</span><br>
                                            <span>Per Coin</span>
                                        </p>
                                        <p>
                                            <a href="#" class="btn btn-primary" role="button">Buy</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" m-3 text-center p-0">
                            <img src="assets/image/LF60.jpg" class=" " alt="">
                        </div>

                        <section class=" sectionBlue">
                            <h4 class=""><strong>PAYMENT INFORMATION</strong></h4>
                            <p class="">Please enter your credit card information:</p>
                            <div class="row m-0 mb-4">
                                <ul class="col-11 ">
                                    <li class="">Important Credit Card Information</li>
                                    <li class="">Your credit card will NOT be billed as "La Femme"</li>
                                    <li class="">All credit cards statement will be discreetly billed.</li>
                                </ul>
                            </div>

                            <form class="mt-2 p-1">
                                <div class="row  m-0">
                                    <div class="col-6 col-sm-4">
                                        <p>Charge my card a Plan:</p>
                                    </div>

                                    <div class="col-6 col-sm-8 ">
                                        <div class="container-fluid ">
                                            <div class="form-group form-check ">
                                                <input type="checkbox" class="form-check-input col-2 "
                                                       id="exampleCheck1">
                                                <label class="form-check-label ml-2 col-10" for="exampleCheck1">Plan: A
                                                    1200 Credits</label>
                                            </div>
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input col-2"
                                                       id="exampleCheck2">
                                                <label class="form-check-label ml-2 col-10" for="exampleCheck2">Plan: B
                                                    500 Credits</label>
                                            </div>
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input col-2"
                                                       id="exampleCheck3">
                                                <label class="form-check-label ml-2 col-10" for="exampleCheck3">Plan: C
                                                    200 Credits</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group container-fluid justify-content-around p-auto m-0">
                                    <div class="p-auto d-flex align-items-center">
                                        <p>Card Type</p>
                                        {# IMPROVE TO PAYMENT #}

                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" aria-label="...">
                                            </span>
                                                    <img src="{{ asset('assets/image/visa_512_icon-icons.com_75986.png') }}"
                                                         class="img-responsive" alt="Responsive image">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" aria-label="...">
                                            </span>
                                                    <img src="{{ asset('assets/image/mastercard_512_icon-icons.com_75982.png') }}"
                                                         class="img-responsive" alt="Responsive image">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" aria-label="...">
                                            </span>
                                                    <img src="{{ asset('assets/image/american_express_512_icon-icons.com_75968.png') }}"
                                                         class="img-responsive" alt="Responsive image">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" aria-label="...">
                                            </span>
                                                    <img src="{{ asset('assets/image/discover_512_icon-icons.com_75973.png') }}"
                                                         class="img-responsive" alt="Responsive image">
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="container-fluid ">
                                    <div class="form-group row m-2">
                                        <label for="inputEmail3" class="col-3 col-form-label">Card Number:</label>
                                        <div class="col-9 pr-lg-5 pr-md-5">
                                            <input type="email" class="form-control" id="inputEmail3" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group row m-2">
                                        <label for="inputEmail3" class="col-3 col-form-label">Expiration date:</label>
                                    </div>
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search for...">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search for...">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row m-2 text-right align-items-center">
                                        <div class="col-4">
                                            <img src="assets/image/LF38.jpg" class="w-100 h-100" alt="">
                                        </div>
                                        <div class="col-sm-8 p-5">
                                            <button type="submit" class="btn btn-warning">SUBMIT ORDER</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>

                    </article>
                    <aside class="col-lg-4 col-md-4 col-sm-12 border-blue" id="aside">
                        <h2>LA FEMME</h2>
                        <h4 class="text-center">Is where snazzy Men and Women Meet</h4>
                        <div class="container  text-center h-100">
                            <img src="assets/image/LF37-1.jpg" alt="">
                            <img src="assets/image/avatar/1.%20Attached%20Male%20Seeking%20Female-/AVATAR1-5.jpg"
                                 alt="">
                            <img src="assets/image/avatar/7.%20Sugar%20mommies%20seeking%20males/AVATAR7-5.jpg" alt="">

                        </div>
                    </aside>
                </div>
            </main>
        </div>
    </div>
{% endblock %}