{# HEREDA DE LAYOUT #}
{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block header %}
    <div class="header-femme header-profile ">
        <div class="header-profile-row-left">
            <img src="{{ asset('assets/image/LF289.png') }}" class="rounded float-left">
            <p class="text-logo"> Fantasies.......<br>Everybody has One!</p>
        </div>
        <div class="header-profile-row-center">
            <h3 class="text-center"> Login </h3>
            <h4 class="text-center font-italic h6"> Private Affairs Club</h4>
            <h4 class="text-center h6"> Private Affairs Club, our members find <br> Snazzy Men & Women</h4>
        </div>
        <div class="header-profile-row-right">
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="box-form ">
        <div class="box-default col-lg-6 col-md-6 col-sm-8" style="margin-top: 40px;">
            <h1 class="box-header"> Login </h1>
            <hr>

            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')%}
                {{ app.user.name }} {{ app.user.surname }} {{ app.user.email }} {{ app.user.role }}
            {% endif %}

            <form action="{{ path('login_check') }}" method="POST">
                <label for="username">Email</label>
                <input type="email" id="username" name="_username"
                       value="{{ last_username }}"
                       class="form-control"/>

                <label for="password">Password</label>
                <input type="password" id="password" name="_password"
                       class="form-control"/>

                <input type="submit" value="Login" class=" btn btn-primary"/>
                {#      EMPTY DIV REDIRECT TO PATH /HOME          #}
                <input type="hidden" name="_target_path" value="/home"/>
            </form>
        </div>
    </div>
{% endblock %}