{# EXTENDS OF LAYOUT #}
{% extends "AppBundle:Layouts:layout.html.twig" %}

{# USE STYLESHEET #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.cosmo.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/register.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/tools.css') }}">
{% endblock %}

{# USE JAVASCRIPT #}
{% block javascripts %}
    {# ALLOW THE NEW SCRIPT DONT PUT THE PREVIOUS #}
    {{ parent() }}
    <script src="{{ asset('assets/js/custom/nick-test.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="box-form container-fluid">
        {# LA FEMME CONTENT#}
        <section class="box-content-white responsive-custom ">
            <div class="box-image">
                <h2 class="text-center">
                    How to Anonymously Safeguard Your Privacy
                </h2>

                <div class="row ">
                    <div class="col-xs-6 col-sm-12 col-md-4 col-lg-4 text-center">
                        <img src="{{ asset('assets/image/LF35.jpg') }}" class="img-responsive"
                             alt="Responsive image">
                    </div>

                    <div class="col-xs-6 col-sm-12 col-md-4 col-lg-4 text-center">
                        <img src="{{ asset('assets/image/LF05.jpg') }}" class="img-responsive"
                             alt="Responsive image">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                        <img src="{{ asset('assets/image/LF36.jpg') }}" class="img-responsive"
                             alt="Responsive image">
                    </div>
                </div>


                <div class="">
                    <p class="h4 mt-3 mb-3"> Privacy is important because it provides functional benefits. For example,
                        privacy
                        can be followed and protected
                        by being anonymous. Anonymity can allow the person to participate without a care in mind with La
                        femme other
                        members and families and friends
                        . To ease any privacy concerns, we suggest
                        creating a new email to sign up with La Femme. Gmail and Hotmail are free and do not require a
                        home
                        address or phone number.
                    </p>
                    <p class="h4 mt-3 mb-3"> When creating a new email, avoid using
                        terms that may specifically identify you in any way. </p>
                    <p class="h4 mt-3 mb-3"> While on La Femme, use our email
                        system to
                        avoid sharing your phone number, personal email or social media. Use your new La Femme email to
                        fulfill
                        all your dreams and fantasies with people you'll meet at La Femme! </p>

                </div>
            </div>
        </section>

        <div class="text-center">
            <h2> CREATE YOUR PROFILE </h2>
            <h5> Someone will acknowledge you with Desire, Passion and Excitement. </h5>
        </div>

        <div class="box-default-register col-lg-8 col-md-8 col-sm-8">
            <hr>
            {{ form_start(form, {'action':'', 'method':'POST'}) }}

            {{ form_row(form.relationmatch) }}
            <h3>Explore</h3>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    {{ form_row(form.invitationcode) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h3>If you dont have put 100</h3>
                </div>
            </div>
            {{ form_row(form.nick) }}
            {{ form_row(form.password) }}


            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    {{ form_row(form.country) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    {{ form_row(form.state) }}
                </div>
            </div>
            {{ form_row(form.postalcode) }}
            {{ form_row(form.datebirth) }}
            {{ form_row(form.age) }}
            {{ form_row(form.zodiacsing) }}
            {{ form_row(form.race) }}
            {{ form_row(form.email) }}






            {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}