<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %} La Femme {% endblock %}
    </title>

    {% block stylesheets %}
        {#      styles      #}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.cosmo.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/styles.css') }}">
    {% endblock %}

    {% block javascripts %}
        {#       VARIABLE PROJECT      #}
        <script type="text/javascript">
            var URL = "{{ app.request.getSchemeAndHttpHost() }}/la-femme/web/app_dev.php"
        </script>

        {#      javascripts      #}
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-ias.min.js') }}"></script>
    {% endblock %}

</head>

<body>
<header>
    <h1>LA FEMME</h1>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapse" data-toggle="collapse"
                        data-targert="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Navegation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {#CHECK THIS LINK WHEN THE USER IS LOGGED IN#}
                <a href="{{ path("app_homepage") }}" class="navbar-brand">
                    <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                    La Femme
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if app.user == null %}
                        {#  LINK TO LOGIN  #}
                        <li><a href="{{ path("login") }}">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                &nbsp;Login</a></li>
                        {#  LINK TO REGISTER  #}
                        <li><a href="{{ path("register") }}">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                &nbsp;Sign In</a></li>
                    {% else %}

                        <li>
                            <a href="{{ path("app_homepage") }}">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="{{ path("user_list") }}">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                People
                            </a>
                        </li>
                        <li>
                            <form action="{{ path('user_search') }}" class="navbar-form navbar-left" method="get">
                                <div class="form-group">
                                    <input type="text" name="search" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </form>
                        </li>

                    {% endif %}
                </ul>
                {% if app.user != null %}
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a href="{{ path("user_list") }}">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                Mail Box
                            </a>
                        </li>

                        <li>
                            <a href="{{ path("notifications_page") }}">
                                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                             Notifications
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <div class="avatar">
                                    {% if app.user.image == null %}
                                        <img src="{{ asset('assets/images/default.png') }}" alt="">

                                    {% else %}
                                        <img src="{{ asset('uploads/user/'~app.user.image) }}" alt="">
                                    {% endif %}
                                </div>
                                {{ app.user.name }} {{ app.user.surname }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('user_profile',{'nickname':app.user.nick}) }}">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        My Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("user_edit") }}">
                                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                        Edit Profile
                                    </a>
                                </li>
                                <li class="divider" role="separator"></li>
                                <li>
                                    <a href="{{ path("logout") }}">
                                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                        Logout
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        Help
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
<section id="content">
    {#  STATUS  NOTIFICATION #}
    <div class="container">
        <div class="col-lg-11">
            {% for message in app.session.flashbag().get('status') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
    </div>
    {% block content %}
        {#      content default      #}
    {% endblock %}
    {#  STATUS  NOTIFICATION #}
    <div class="container">
        <div class="col-lg-11">
            {% for message in app.session.flashbag().get('status') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<footer class="col-lg-12">
    <hr>
    <div class="container">
        <p class="text-muted">Developer Hskndr</p>
    </div>

</footer>
</body>

</html>