{# HEREDA DE LAYOUT #}
{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/affiliate_signin.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/custom/home.js') }}"></script>
{% endblock %}
{% block header %}
    <div class="header-femme header-profile ">
        <div class="header-profile-row-left">
            <img src="{{ asset('assets/image/LF289.png') }}" class="rounded float-left">
            <p class="text-logo"> Fantasies.......<br>Everybody has One!</p>
        </div>
        <div class="header-profile-row-center">
            <h3 class="text-center"> Affiliate Sign In </h3>
            <h4 class="text-center font-italic h6"> Private Affairs Club</h4>
            <h4 class="text-center h6"> Private Affairs Club, our members find <br> Snazzy Men & Women</h4>
        </div>
        <div class="header-profile-row-right">
        </div>
    </div>
{% endblock %}
{% block content %}

    <div class="container-fluid">

            <h1 class="box-header">AFFILIATE SIGN IN</h1>
            {# HSKNDR:  UNDERCONSTRUCTION #}
            <div class="text-center">
                <img src="{{ asset('assets/image/under-construction.png') }}" class="img-responsive" alt="Responsive image">
            </div>
            {# HSKNDR:  UNDERCONSTRUCTION #}
        <h2>Sign in Members</h2>
    </div>
{% endblock %}