{# HEREDA DE LAYOUT #}
{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/affiliate_signin.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/custom/home.js') }}"></script>
{% endblock %}
{% block header %}
    <p>AFFILIATE SIGN IN</p>
{% endblock %}
{% block content %}

    <div class="container-fluid">

            <h1 class="box-header">AFFILIATE SIGN IN</h1>
            {# HSKNDR:  UNDERCONSTRUCTION #}
            <div class="text-center">
                <img src="{{ asset('assets/image/under-construction.png') }}" class="img-responsive" alt="Responsive image">
            </div>
            {# HSKNDR:  UNDERCONSTRUCTION #}
        <h2>Sign in Members</h2>
    </div>
{% endblock %}