<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %} La Femme {% endblock %}
    </title>

    {% block stylesheets %}
        {#      styles      #}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.cosmo.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/outpages.css') }}">
    {% endblock %}

    {% block javascripts %}
        {#      javascripts      #}
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
    {% endblock %}

</head>

<body>
<header class="header-outpage">
    <div class="header-femme">
        <div class="header-femme header-profile ">
            <div class="header-profile-row-left">
                <img src="{{ asset('assets/image/LF289.png') }}" class="rounded float-left">
                <p class="text-logo"> Fantasies.......<br>Everybody has One!</p>
            </div>
            <div class="header-profile-row-center">
                <h3 class="text-center"> About Us </h3>
                <h4 class="text-center font-italic h6"> Private Affairs Club</h4>
                <h4 class="text-center h6"> Private Affairs Club, our members find <br> Snazzy Men & Women</h4>
            </div>
            <div class="header-profile-row-right">
            </div>
        </div>
    </div>
</header>
<main class="container-fluid content-out-pages ">

    <div class=" ">
        <div class="text-center">
            <h1 class="box-header" >ABOUT US</h1>
        </div>
        <div class="text-center">
            <h4 >PRIVATE AFFAIRS CLUB</h4>
        </div>
    </div>
    <div class=" row image-content ">
        <img class="img-responsive responsive-custom" src="{{ asset('assets/image/LF38.jpg') }}" alt="Responsive image">
        <img class="img-responsive" src="{{ asset('assets/image/LF39.jpg') }}" alt="Responsive image">
        <img class="img-responsive responsive-custom" src="{{ asset('assets/image/LF19.jpg') }}" alt="Responsive image">
    </div>

    <div class="content-text ">
        <p> Le Femme provides you with a place to meet fun, sexy, interesting men and women who are seeking the ideal
            partner. They understand the value of discretion and want to explore each other’s wildest fantasies. </p>
        <p> If you like someone in our site it will be easy to become emotionally connected; then you meet and live your
            fantasy with desire, pasion and excitement.</p>
        <p> At Le Femme you will find people looking for casual hookups who may already be in an open or committed
            relationship. Millions of people around the world looking for various relationships, all of which we provide
            here at Le Femme. Remember, discretion is the key. Fulfill any and all of your secret desires here. Find
            your
            perfect relationship and let your passion and wildest dreams come true!</p>
    </div>

    <div class="row image-content ">
        <img class="img-responsive responsive-custom" src="{{ asset('assets/image/LF36.jpg') }}" alt="Responsive image">
        <img class="img-responsive" src="{{ asset('assets/image/LF35.jpg') }}" alt="Responsive image">


    </div>

    <div class="content-text ">
        <p>Le Femme uses an unique algorithm called the Compatibility Matching System (CMS). It takes into account
            exactly what you want through your selected preferences made when you sign up. It will monitor your on-site
            habits and present potential partners based on this information. .</p>
        <p>This site will announce your travel plans to the local members of your destination. Update your travel
            calendar and Le Femme will notify members of your indicated destination of your arrival.</p>

        <p>With the majority of users looking for interaction that is sexual in nature, La Femme caters to over eight
            relationship types. Browse through our options and choose the relationship you desire most. Here you can
            expect to find someone that satisfies all of your needs and desires. Secret passions ignite the circuits of
            our highest potential to enjoy our lives as we see it. Life is too short, you should enjoy every moment of
            it!</p>
    </div>


</main>


</body>

</html>