<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %} La Femme {% endblock %}
    </title>

    {% block stylesheets %}
        {#      styles      #}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.cosmo.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/mainpage.css') }}">
    {% endblock %}

    {% block javascripts %}
        {#      javascripts      #}
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
    {% endblock %}

</head>

<body>

<header class="container-fluid ">

    <div class="header-back">

        <div class="contentabsolute ">
            <div class="row ">
                <h1 class="col-lg-8">LA FEMME</h1>
                <div class="col-lg-4  ">
                    <div class="">
                        <p class="text-center">MEMBERS<br>ONLY</p>
                    </div>
                    <div class="text-center ">
                        <a href="{{ path("login") }}" class="btn btn-secondary btn-login" type="button">
                            Login
                        </a>
                    </div>
                </div>
            </div>

            <div class=" row contentabsolute-subtitle">
                <div class="">
                    <h4 class="h3">Fantasies... Everybody has one</h4>
                </div>
                <p class="h4">Become a member, select the type of relationship <br> you're looking
                    for.
                </p>
                <p class="h4">Let's get started </p>
            </div>

            <div class="row ">
                <div class="col-lg-3 header-center-left ">
                    <a href="{{ path("register") }}" class="btn btn-secondary btn-lg btn-register" type="button">
                        SELECT YOUR MATCH
                    </a>

                    <p class="h3">Sign Up - Is FREE</p>

                    <img src="{{ asset('assets/image/LF05.png') }}" id="imgh2" alt="..." class="m-0">

                    <p class="h5">Private Affairs Club</p>
                </div>

                <div class="col-lg-9 header-center-right ">
                    <span class="ramdon row  "></span>
                    <span class="h1 row  "> Shhhh...</span>
                    <span class="h5 row  ">It's a Secret</span>
                    <span class="h5 row  "> Don't Tell</span>
                </div>
            </div>

            <div class="row ">
                <p class="text-left col-9 " style="padding-left: 40px">Desire, Passion and Excitement is like
                    TIME... Time is like a RIVER. You cannot touch the same water TWICE, <br> because the flow that
                    has passed will never pass again... Enjoy every moment of your life.</p>
                <div class="col-3">
                </div>
            </div>


            <footer class="row ">
                <div class="col-lg-5 footer-left ">
                    <a href="{{ path("dating-la-femme") }}">Dating at La femme</a>
                    <a href="{{ path("affilite-program") }}"> Affiliate</a>
                    <a href="{{ path("about-us") }}"> About Us</a>

                </div>

                <div class="col-lg-4 ">

                    <a><img class="social-button" src="https://lafemme1.com/uploads/googleplay.png"
                            alt="image"></a>
                    <a><img class="social-button" src="https://lafemme1.com/uploads/applestore.png"
                            alt="image"></a>
                    <a><img class="social-button" src="{{ asset('assets/image/PRIVACY.png') }}"
                            alt="image"></a>

                </div>

                <div class="col-lg-3 footer-right ">
                    <div class="row text-center">
                        <a class="btn btn-secondary btn-login" type="button" data-toggle="modal"
                           data-target="#languageModal" data-whatever="@mdo">
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                            &nbsp;Language
                        </a>
                        <a class="btn btn-secondary btn-login" type="button" data-toggle="modal"
                           data-target="#countryModal" data-whatever="@fat">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                            &nbsp;Country
                        </a>

                        {#  MODAL  START  #}

                        <div class="modal fade" id="languageModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="recipient-name" class="control-label">Recipient:</label>
                                                <input type="text" class="form-control" id="recipient-name">
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="control-label">Message:</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-primary">Send message</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="countryModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="exampleModalLabel">New message2</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="recipient-name" class="control-label">Recipient2:</label>
                                                <input type="text" class="form-control" id="recipient-name">
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="control-label">Message2:</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close2
                                        </button>
                                        <button type="button" class="btn btn-primary">Send message2</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#  MODAL  END  #}


                    </div>
                    <div class="row text-center">
                        <span>2019 La femme1 - Official website</span>

                    </div>
                </div>
            </footer>
        </div>

    </div>

</header>

<main class="container-fluid">
    <section class=" section-one">
        <div class="container text-center">
            <button type="button" class="button1">PRIVATE AFFAIR CLUB</button>
            <p class=" text-center"><a href="https://lafemme1.com"> www.LaFemme1.com</a></p>
            <p class=" text-center">Adults Only Please, You Must Be 18 Years or Older. This Site
                is For Adults ONLY</p>
        </div>
        <div class="row image-content">
            <img src="{{ asset('assets/image/LF03.jpg') }}" alt="" class="medium-pic deleteTablet">
            <img src="{{ asset('assets/image/LF04.jpg') }}" alt="" class="medium-pic">
            <img src="{{ asset('assets/image/LF05.jpg') }}" alt="" class="medium-pic">
            <img src="{{ asset('assets/image/LF06.jpg') }}" alt="" class="medium-pic deleteTablet">
        </div>
        <h2 class="text-center h1 ">Welcome to La Femme</h2>
    </section>

    <section class="section-two ">
        <div class="text-center ">
            <button type="button" class="button1">MEN &amp; WOMEN FROM AROUND THE WORLD</button>
        </div>

        <div class="section-two-content " style="padding: 5px;">
            <div class="row box-big-pic ">

                <div class="col-lg-3 text-center">
                    <img src="{{ asset('assets/image/LF63.png') }}" alt="" class="big-pic m-0 p-0 ">
                </div>

                <div class="col-lg-6  ">
                    <div class="box-small-pic text-center row ">

                        <img src="{{ asset('assets/image/LF08.jpg') }}" alt="" class="col-lg-4">
                        <img src="{{ asset('assets/image/LF09.jpg') }}" alt="" class="col-lg-4">
                        <img src="{{ asset('assets/image/LF10.jpg') }}" alt="" class="col-lg-4">

                    </div>


                    <div class="box-small-pic text-center row ">

                        <img src="{{ asset('assets/image/LF12.jpg') }}" alt="" class="col-lg-4">
                        <img src="{{ asset('assets/image/LF13.jpg') }}" alt="" class="scol-lg-4">
                        <img src="{{ asset('assets/image/LF64.jpg') }}" alt="" class="col-lg-4">

                    </div>
                </div>

                <div class="col-lg-3 text-center">
                    <img src="{{ asset('assets/image/LF62.png') }}" alt="" class="big-pic ">
                </div>

            </div>
        </div>
    </section>


    <section class=" section-three ">
        <div class="text-center">
            <button type="button" class="button1">DISCOVER YOUR FANTASIES</button>
        </div>
        <div class="">
            <div class="row d-flex justify-content-start">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" id="secImageSmall">
                    <img class="img-responsive" src="{{ asset('assets/image/LF15.jpg') }}">
                </div>

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <p>La Femme is the place to meet men and women who are seeking for the Ideal Partner who
                        knows the value of Discretion of an intelligent individual who wants to share his or
                        her time with you. </p>

                    <p> Soon you will be having fun at La Femme! To help you, we are giving you 200 Coins
                        credits to get you started. These are credits for you to use to start communicating
                        with others. </p>

                    <p>At La Femme you will find thousands of people like yourself looking for discreet
                        relationships of all kinds. Most relationship options you can find them here.
                        Choose the one you desire most!

                    </p>
                    <p>Secret desires ignite the circuits of our highest potential to enjoy our lives.
                        Life is too short, you should enjoy every moment of it. </p>
                    <p>Through La Femme you’ll be connected to the type of relationship you looking for, meet and
                        live your FANTASY; with DESIRE, PASSION and EXCITEMENT!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class=" section-four ">
        <div class="row section-right">

            <div class=" col-lg-3">
                <img src="{{ asset('assets/image/LF65.png') }}" class="img-responsive"
                     alt="Responsive image">
            </div>
            <div class=" col-lg-6">
                <p class="h4 ">La Femme
                    membership is GREAT for your INTIMATE FANTASIES</p>
                <p class="text-center">This is how is GREAT for you.</p>
                <div class="row ">

                    <div class="col-lg-6">
                        <ul>
                            <li> 1. Helps Keep Your Immune System Humming
                            </li>
                            "Sexually active people take fewer sick days"
                            <li>2. Boosts Your Libido</li>
                            Longing for a more lively sex life? "Having sex will make sex better and will improve your
                            libido"
                            <li>3. Improves Women's Bladder Control</li>
                            <li>4. Lowers Your Blood Pressure</li>
                            <li>5.Counts as Exercise</li>
                            "Sex is a great form of exercise"
                            <li>6.Lowers Heart Attack Risk</li>
                            A good sex life is good for your heart. Beside being a great way to raise your heart rate,
                            sex
                            helps keep
                            your estrogen and testosterone levels in balance.
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>7. Lessens Pain</li>
                            Before you reach for an aspirin, try for an orgasm.
                            <li>8. May Make Prostate Cancer Less Likely</li>
                            Going for the gusto may help ward off prostate cancer.
                            <li>9. Improve Sleep</li>
                            You may nod off more quickly after sex and for good. reason
                            <li>10. Eases Stress</li>
                            Being close to your partner can soothe stress and anxiety.
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <div class="text-center">
        <button type="button" class="button1">SAME-SEX RELATIONSHIPS</button>
    </div>

    <section class="section-five ">
        <div class="">
            <p>Looking for same-sex relationships; Females seeking Females or Males seeking Males? You will find
                them all here at La Femme. Discreet partners who want to spend their time with you. You will not
                find any place more open-minded than at La Femme. </p>
        </div>

        <div class="row box-five-content ">
            <img src="{{ asset('assets/image/LF18.jpg') }}" alt="" class="">
            <img src="{{ asset('assets/image/LF19.jpg') }}" alt="" class="">
            <img src="{{ asset('assets/image/LF20.jpg') }}" alt="" class="">
            <img src="{{ asset('assets/image/LF21.jpg') }}" alt="" class="">
        </div>

        <div class="row text-right">
            <a href="{{ path("register") }}" class=" btn btn-secondary button1" type="button">
                CLICK HERE NOW TO FIND YOUR RELATIONSHIP AT LA FEMME
            </a>
        </div>
    </section>


</main>


</body>

</html>