<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %} La Femme {% endblock %}
    </title>

    {% block stylesheets %}
        {#      tools      #}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/tools.css') }}">

        {#      styles      #}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.cosmo.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/mainpage.css') }}">
    {% endblock %}

    {% block javascripts %}
        {# TRANSLATE #}
        <script type="text/javascript"
                src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            }</script>
        {#      javascripts      #}
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/custom/modals.js') }}"></script>

    {% endblock %}

</head>

<body>

<header class="container-fluid ">

    <div class="header-back ">
        <div class="contentabsolute">
            <div class="container-fluid">
                <h1 class="col-lg-10 col-md-10 col-sm-12 col-xs-12">LA FEMME</h1>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="">
                        <p class="text-center responsive-custom">MEMBERS<br>ONLY</p>
                        <h4 class="h3 text-center non-responsive-custom">Fantasies... Everybody has
                            one</h4>
                    </div>
                    <div class="text-center responsive-custom">
                        <a href="{{ path("login") }}" class="btn btn-secondary btn-login" type="button">
                            Login
                        </a>
                    </div>
                </div>
            </div>

            <div class="container-fluid contentabsolute-subtitle responsive-custom">
                <div class="">
                    <h4 class="h3">Fantasies... Everybody has one</h4>
                </div>
                <p class="h4 ">Become a member, select the type of relationship <br> you're looking
                    for.
                </p>
                <p class="h4 ">Let's get started </p>
            </div>

            <div class="container-fluid responsive-custom">
                <div class="col-lg-4 col-md-4 col-sm-4 header-center-left ">
                    <a href="{{ path("register") }}" class="btn btn-secondary btn-lg btn-register" type="button">
                        SELECT YOUR MATCH
                    </a>

                    <p class="h3">Sign Up - Is FREE</p>

                    <img src="{{ asset('assets/image/LF05.png') }}" id="imgh2" alt="..." class="m-0 ">

                    <p class="h5">Private Affairs Club</p>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-8 header-center-right ">
                    <span class="ramdon row  "></span>
                    <span class="h1 row  "> Shhhh...</span>
                    <span class="h5 row  ">It's a Secret</span>
                    <span class="h5 row  "> Don't Tell</span>
                </div>
            </div>

            <div class="container-fluid responsive-custom">
                <p class="text-left col-lg-9 col-md-9 col-sm-9 " style="padding-left: 40px">Desire, Passion and
                    Excitement is like
                    TIME... Time is like a RIVER. You cannot touch the same water TWICE, <br> because the flow that
                    has passed will never pass again... Enjoy every moment of your life.</p>
                <div class="col-3">
                </div>
            </div>


            <footer class="container-fluid ">
                <div class="col-lg-5 col-md-5 col-sm-5 footer-left responsive-custom">
                    <a href="{{ path("dating-la-femme") }}">Dating at La femme</a>
                    <a href="{{ path("affilite-program") }}"> Affiliate</a>
                    <a href="{{ path("about-us") }}"> About Us</a>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 responsive-custom">

                    <a><img class="social-button" src="https://lafemme1.com/uploads/googleplay.png"
                            alt="image"></a>
                    <a><img class="social-button" src="https://lafemme1.com/uploads/applestore.png"
                            alt="image"></a>
                    <a><img class="social-button" src="{{ asset('assets/image/PRIVACY.png') }}"
                            alt="image"></a>

                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 footer-right ">
                    <div class="non-responsive-custom">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                            <a href="{{ path("register") }}"
                               class="btn btn-secondary btn-lg btn-register col-xs-12 col-sm-12"
                               type="button">
                                REGISTER
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                            <a href="{{ path("login") }}"
                               class="btn btn-secondary btn-lg btn-register text-center col-xs-12 col-sm-12"
                               type="button">
                                LOGIN
                            </a>
                        </div>


                    </div>
                    <div class="row text-center">
                        <a class="btn btn-secondary btn-login" type="button" data-toggle="modal"
                           data-target="#languageModal" data-whatever="@mdo">
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                            &nbsp;Language
                        </a>

                        <a class="btn btn-secondary btn-login" type="button" data-toggle="modal"
                           data-target="#countryModal" data-whatever="@fat">
                            {# HSKNDR: SHOW COUNTRY'S FLAG#}
                            <span id="flag-container" aria-hidden="true">
                                <img src="" alt="">
                            </span>
                            <span id="countryName"></span>
                        </a>

                        {#  MODAL  START  #}

                        <div class="modal fade" id="languageModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header ">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <label class="control-label">Select your Language:</label>
                                            <div id="google_translate_element"></div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {#  MODAL  COUNTRY  #}
                        <div class="modal fade" id="countryModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="exampleModalLabel"></h4>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <label for="recipient-name" class="control-label">Select your
                                                Country:</label>
                                            <select id="countries">
                                            </select>
                                            {# <ul id="list-countries-container">

                                                 <li id="list-countries">

                                                 </li>
                                             </ul>#}

                                            {# TEST LANGUAGE REST COUNTRIES #}
                                            <div id="main-container">
                                                <div id="flag-container">
                                                    <img src="" alt="">
                                                </div>
                                                <div id="info-container">
                                                    {# <select id="countries">

                                                     </select>#}
                                                    <p class="no_show">Capital: <span id="capital"></span></p>
                                                    <p class="no_show">Dialing code: <span id="dialing-code"></span></p>
                                                    <p class="no_show">Population: <span id="population"></span></p>
                                                    <p class="no_show">Currency: <span id="currencies"></span></p>
                                                    <p class="no_show">Region: <span id="region"></span></p>
                                                    <p class="no_show">Sub region: <span id="sub-region"></span></p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#  MODAL  END  #}


                    </div>
                    <div class="row text-center">
                        <span>2019 <a href="https://lafemme1.com">www.lafemme1.com </a>- Official website</span>

                    </div>
                </div>
            </footer>
        </div>

    </div>

</header>

<main class="container-fluid responsive-custom">
    <section class=" section-one">
        <div class="container text-center">
            <button type="button" class="button1">PRIVATE AFFAIR CLUB</button>
            <p class=" text-center h3"><a href="https://lafemme1.com"> www.LaFemme1.com</a></p>
            <p class=" text-center h3">Adults Only Please, You Must Be 18 Years or Older. This Site
                is For Adults ONLY</p>
        </div>
        <div class="row image-content">
            <img src="{{ asset('assets/image/LF03.jpg') }}" alt="" class="medium-pic deleteTablet">
            <img src="{{ asset('assets/image/LF04.jpg') }}" alt="" class="medium-pic">
            <img src="{{ asset('assets/image/LF05.jpg') }}" alt="" class="medium-pic">
            <img src="{{ asset('assets/image/LF06.jpg') }}" alt="" class="medium-pic deleteTablet">
        </div>
        <h1 class="text-center h1 ">Welcome to La Femme</h1>
    </section>

    <section class="section-two ">
        <div class="text-center ">
            <button type="button" class="button1">MEN &amp; WOMEN FROM AROUND THE WORLD</button>
        </div>

        <div class="section-two-content " style="padding: 5px;">
            <div class="row box-big-pic">

                <div class="col-lg-3 text-center">
                    <img src="{{ asset('assets/image/LF62.png') }}" alt="" class="big-pic ">
                </div>

                <div class="col-lg-6  ">
                    <div class="box-small-pic text-center row ">

                        <img src="{{ asset('assets/image/La Femme Immage 344.png') }}" alt="" class="col-lg-4">
                        <img src="{{ asset('assets/image/LF09.jpg') }}" alt="" class="col-lg-4">
                        <img src="{{ asset('assets/image/LF10.jpg') }}" alt="" class="col-lg-4">

                    </div>


                    <div class="box-small-pic text-center row ">

                        <img src="{{ asset('assets/image/LF12.jpg') }}" alt="" class="col-lg-4">
                        <img src="{{ asset('assets/image/LF13.jpg') }}" alt="" class="col-lg-4">
                        <img src="{{ asset('assets/image/LF64.jpg') }}" alt="" class="col-lg-4">

                    </div>
                </div>

                <div class="col-lg-3 text-center">
                    <img src="{{ asset('assets/image/LafemmeImage.png') }}" alt="" class="big-pic m-0 p-0 ">

                </div>

            </div>
        </div>
    </section>

    <section class=" section-three ">
        <div class="text-center">
            <button type="button" class="button1">DISCOVER YOUR FANTASIES</button>
        </div>

        <div class="row d-flex justify-content-start">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img class="img-responsive" src="{{ asset('assets/image/LF66.png') }}">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>La Femme is the place to meet men and women who are seeking for the Ideal Partner who
                    knows the value of Discretion of an intelligent individual who wants to share his or
                    her time with you. </p>

                <p> Soon you will be having fun at La Femme! To help you, we are giving you 200 Coins
                    credits to get you started. These are credits for you to use to start communicating
                    with others. </p>

                <p>At La Femme you will find thousands of people like yourself looking for discreet
                    relationships of all kinds. Most relationship options you can find them here.
                    Choose the one you desire most!

                </p>
                <p>Secret desires ignite the circuits of our highest potential to enjoy our lives.
                    Life is too short, you should enjoy every moment of it. </p>
                <p>Through La Femme you’ll be connected to the type of relationship you looking for, meet and
                    live your FANTASY; with DESIRE, PASSION and EXCITEMENT!
                </p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img class="img-responsive" src="{{ asset('assets/image/LF15.jpg') }}">
            </div>


        </div>

    </section>
    <h1>OPTION 1</h1>
    <section class=" section-four">
        <div class="row section-right">
            <img src="{{ asset('assets/image/LF61.jpg') }}" class="img-responsive background-section"
                 alt="Responsive image">
            <div class=" col-lg-3 ">
                <img src="{{ asset('assets/image/LF65.png') }}" class="img-responsive image-section-left"
                     alt="Responsive image">
            </div>
            <div class=" col-lg-6">
                <p class="h3 ">La Femme membership is GREAT for your INTIMATE FANTASIES</p>
                <p class="text-center">This is how is GREAT for you.</p>
                <div class="row ">

                    <div class="col-lg-6">
                        <ul>
                            <li> 1. Helps Keep Your Immune System Humming
                            </li>
                            "Sexually active people take fewer sick days"
                            <li>2. Boosts Your Libido</li>
                            Longing for a more lively sex life? "Having sex will make sex better and will improve your
                            libido"
                            <li>3. Improves Women's Bladder Control</li>
                            <li>4. Lowers Your Blood Pressure</li>
                            <li>5.Counts as Exercise</li>
                            "Sex is a great form of exercise"
                            <li>6.Lowers Heart Attack Risk</li>
                            A good sex life is good for your heart. Beside being a great way to raise your heart rate,
                            sex
                            helps keep
                            your estrogen and testosterone levels in balance.
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>7. Lessens Pain</li>
                            Before you reach for an aspirin, try for an orgasm.
                            <li>8. May Make Prostate Cancer Less Likely</li>
                            Going for the gusto may help ward off prostate cancer.
                            <li>9. Improve Sleep</li>
                            You may nod off more quickly after sex and for good. reason
                            <li>10. Eases Stress</li>
                            Being close to your partner can soothe stress and anxiety.
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <h1>OPTION 2</h1>
    <section class=" section-four-v1">
        <div class="row section-right">
            <img src="{{ asset('assets/image/LF61.jpg') }}" class="img-responsive background-section"
                 alt="Responsive image">

            <div class=" col-lg-6">
                <p class="h3 ">La Femme membership is GREAT for your INTIMATE FANTASIES</p>
                <p class="text-center">This is how is GREAT for you.</p>
                <div class="row ">
                    <div class="col-lg-6">
                        <ul>
                            <li> 1. Helps Keep Your Immune System Humming
                            </li>
                            "Sexually active people take fewer sick days"
                            <li>2. Boosts Your Libido</li>
                            Longing for a more lively sex life? "Having sex will make sex better and will improve your
                            libido"
                            <li>3. Improves Women's Bladder Control</li>
                            <li>4. Lowers Your Blood Pressure</li>
                            <li>5.Counts as Exercise</li>
                            "Sex is a great form of exercise"
                            <li>6.Lowers Heart Attack Risk</li>
                            A good sex life is good for your heart. Beside being a great way to raise your heart rate,
                            sex
                            helps keep
                            your estrogen and testosterone levels in balance.
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>7. Lessens Pain</li>
                            Before you reach for an aspirin, try for an orgasm.
                            <li>8. May Make Prostate Cancer Less Likely</li>
                            Going for the gusto may help ward off prostate cancer.
                            <li>9. Improve Sleep</li>
                            You may nod off more quickly after sex and for good. reason
                            <li>10. Eases Stress</li>
                            Being close to your partner can soothe stress and anxiety.
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <h1>OPTION 3</h1>
    <section class=" section-four-v2">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                <li data-target="#carousel-example-generic" data-slide-to="9"></li>

            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <img src="{{ asset('assets/image/LF61.jpg') }}" class=""
                     alt="">

                <div class="item active">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>La Femme membership is GREAT for your INTIMATE FANTASIES</h3>
                            <h4>This is how is GREAT for you.</h4>
                            <br>
                            <h2> 1. Helps Keep Your Immune System Humming</h2> "Sexually active people take fewer sick
                            days"
                            <br><br>
                        </div>
                    </div>
                </div>

                <div class="item ">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>La Femme membership is GREAT for your INTIMATE FANTASIES</h3>
                            <h4>This is how is GREAT for you.</h4>
                            <br>
                            <h2>2. Boosts Your Libido</h2>Longing for a more lively sex life? "Having sex will make sex
                            better and will improve your libido"<br><br>
                        </div>
                    </div>
                </div>

                <div class="item ">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>La Femme membership is GREAT for your INTIMATE FANTASIES</h3>
                            <h4>This is how is GREAT for you.</h4>
                            <br>
                            <h2>3. Improves Women's Bladder Control</h2><br><br>
                        </div>
                    </div>
                </div>

                <div class="item ">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>La Femme membership is GREAT for your INTIMATE FANTASIES</h3>
                            <h4>This is how is GREAT for you.</h4>
                            <br>
                            <h2>4. Lowers Your Blood Pressure</h2><br><br>
                        </div>
                    </div>
                </div>

                <div class="item ">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>La Femme membership is GREAT for your INTIMATE FANTASIES</h3>
                            <h4>This is how is GREAT for you.</h4>
                            <br>
                            <h2>5.Counts as Exercise</h2>
                            "Sex is a great form of exercise"<br><br>
                        </div>
                    </div>
                </div>

                <div class="item ">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>La Femme membership is GREAT for your INTIMATE FANTASIES</h3>
                            <h4>This is how is GREAT for you.</h4>
                            <br>
                            <h2>6.Lowers Heart Attack Risk</h2>
                            A good sex life is good for your heart. Beside being a great way to raise your heart rate,
                            <br> sex
                            helps keep
                            your estrogen and testosterone levels in balance.<br><br>
                        </div>
                    </div>
                </div>

                <div class="item ">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>La Femme membership is GREAT for your INTIMATE FANTASIES</h3>
                            <h4>This is how is GREAT for you.</h4>
                            <br>
                            <h2>7. Lessens Pain</h2>
                            Before you reach for an aspirin, try for an orgasm.<br><br>
                        </div>
                    </div>
                </div>

                <div class="item ">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>La Femme membership is GREAT for your INTIMATE FANTASIES</h3>
                            <h4>This is how is GREAT for you.</h4>
                            <br>
                            <h2>8. May Make Prostate Cancer Less Likely</h2>
                            Going for the gusto may help ward off prostate cancer.<br><br>
                        </div>
                    </div>
                </div>

                <div class="item ">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>La Femme membership is GREAT for your INTIMATE FANTASIES</h3>
                            <h4>This is how is GREAT for you.</h4>
                            <br>
                            <h2>9. Improve Sleep</h2>
                            You may nod off more quickly after sex and for good. reason<br><br>
                        </div>
                    </div>
                </div>

                <div class="item ">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>La Femme membership is GREAT for your INTIMATE FANTASIES</h3>
                            <h4>This is how is GREAT for you.</h4>
                            <br>
                            <h2>10. Eases Stress</h2>
                            Being close to your partner can soothe stress and anxiety.<br><br>
                        </div>
                    </div>
                </div>

            </div>


            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <h1>OPTION 4</h1>
    <section class=" section-four-v4">
       <div class="row">
           <div class="col-lg-3 image-section-left-v4">
               <img src="{{ asset('assets/image/LF65.png') }}" class="img-responsive"
                    alt="Responsive image">
           </div>
           <div class="col-lg-9">
               <div class="row section-up ">
                   <img src="{{ asset('assets/image/LF61.jpg') }}" class="img-responsive"
                        alt="Responsive image">
               </div>
               <div class="row section-down">
                   <p class="h3 ">La Femme membership is GREAT for your INTIMATE FANTASIES</p>
                   <p class="text-center">This is how is GREAT for you.</p>
                   <div class="row ">

                       <div class="col-lg-6">
                           <ul>
                               <li> 1. Helps Keep Your Immune System Humming
                               </li>
                               "Sexually active people take fewer sick days"
                               <li>2. Boosts Your Libido</li>
                               Longing for a more lively sex life? "Having sex will make sex better and will improve your
                               libido"
                               <li>3. Improves Women's Bladder Control</li>
                               <li>4. Lowers Your Blood Pressure</li>
                               <li>5.Counts as Exercise</li>
                               "Sex is a great form of exercise"
                               <li>6.Lowers Heart Attack Risk</li>
                               A good sex life is good for your heart. Beside being a great way to raise your heart rate,
                               sex
                               helps keep
                               your estrogen and testosterone levels in balance.
                           </ul>
                       </div>
                       <div class="col-lg-6">
                           <ul>
                               <li>7. Lessens Pain</li>
                               Before you reach for an aspirin, try for an orgasm.
                               <li>8. May Make Prostate Cancer Less Likely</li>
                               Going for the gusto may help ward off prostate cancer.
                               <li>9. Improve Sleep</li>
                               You may nod off more quickly after sex and for good. reason
                               <li>10. Eases Stress</li>
                               Being close to your partner can soothe stress and anxiety.
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </section>

    <div class="text-center">
        <button type="button" class="button1">SAME-SEX RELATIONSHIPS</button>
    </div>

    <section class="section-five ">
        <div class="">
            <p>Looking for same-sex relationships; Females seeking Females or Males seeking Males? You will find
                them all here at La Femme. Discreet partners who want to spend their time with you. You will not
                find any place more open-minded than at La Femme. </p>
        </div>

        <div class="row box-five-content ">
            <img src="{{ asset('assets/image/LF18.jpg') }}" alt="" class="">
            <img src="{{ asset('assets/image/LF19.jpg') }}" alt="" class="">
            <img src="{{ asset('assets/image/LF20.jpg') }}" alt="" class="">
            <img src="{{ asset('assets/image/LF21.jpg') }}" alt="" class="">
        </div>

        <div class="row text-right">
            <a href="{{ path("register") }}" class=" btn btn-secondary button1" type="button">
                CLICK HERE NOW TO FIND YOUR RELATIONSHIP AT LA FEMME
            </a>
        </div>
    </section>
</main>


</body>

</html>